*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--BGCOLOR);
 }

/*|| VARIABLES START HERE*/
:root{
 /*|| COLORS*/
 --BGCOLOR:#d9bfb0;
 --NAVCOLOR:#a67041;
 --NAVHOVER:#733a26;
 --LOGO:yellow;
 --NAVTEXT:white;

}


/*|| VARIABLS ENDS HERE*/

/*|| NAVBAR STARTS HERE*/
.nav_ul{
    list-style-type: none;
    margin-right: 4%;
    overflow: hidden;
    background-color:var(--NAVCOLOR);
    width: 100%;
}

.nav_ul li{
    float:left;
    margin-left: 2%;
    font-size: large;
    padding: 14px 16px;
    color: var(--NAVTEXT);
}

.nav_ul li a{
    text-decoration: none;
    color:var(--NAVTEXT);
}

#logo{
    float: right;
    font-size: larger;
    
}
#logo span{
    color:var(--LOGO);
}

.nav_ul li a:hover{
    text-decoration: underline;
    background-color: var(--NAVHOVER) ;
    padding: 14px 16px;
}

/*|| NAVBAR ENDS HERE*/

/*|| HOME STARTS HERE*/

 .container_img{
   float: left;
    left: 25%;
    top: 1%;
    width: 580px;

 }
/*|| HOME ENDS H5RE*/
